/* ///////////DEPARTMENT OWL CAROUSEL /////////////// */
.owl-item-container {
  border: 2px solid green;
  width: 10vw;
  margin: 10px;
}
.dept-logo {
  border: 2px solid red;
  border-radius: 5px;
}

.owl-item-title {
  color: blueviolet;
  text-transform: uppercase;
  font-size: 1em;
  margin-top: 10%;
}

/* //////////////// DOCTORS OWL CAROUSEL ////////////////////// */
.card-body {
  line-height: 1.5;
  padding: 2px;
}
.card-title{
  font-size: 1.75vw;
  font-weight:700
}
.card-text{
  margin-top: -4px;
  font-size:1.4vw;
  line-height:1;
}
.card-body p{
  margin-bottom:2%;
}
.readmore-btn {
  border-radius: 4px;
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
  background-size: 200%;
  transition: all 500ms ease;
  font-size: 1.2vw;
  border: none;
  padding: 0.3em;
  text-decoration: none;
  color: whitesmoke;
}
.readmore-btn:hover {
  background-position: right center;
}

/* ///////////////////// MEDIA QUERIES ////////////////// */
@media (max-width: 576px) {
  .owl-item-title {
    font-size: 0.5em;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
  .owl-item-title {
    font-size: 0.7em;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
