@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}
.navbar-brand {
    color: dodgerblue !important;
    font-weight: bold;
    font-size: 1.5em !important;
}
.navbar {
    background-color: #fff !important;
}

.navbar a{
    color: #2f2f2f;
}
.navbar a:hover{
    color: #00a2ff;
    font-weight: bold;
    border-bottom: 1ps dotted dodgerblue;
}


.menu_active {
    font-weight: bold;
    border-bottom: dodgerblue 2px solid;
}